[submodule "layout2im/layout2im"]
	path = layout2im/layout2im
	url = https://github.com/zhaobozb/layout2im.git
	branch = master
[submodule "pix2pix/pix2pixHD"]
	path = pix2pix/pix2pixHD
	url = https://github.com/NVIDIA/pix2pixHD
[submodule "lostgans/LostGANs"]
	path = lostgans/LostGANs
	url = https://github.com/iVMCL/LostGANs.git
